*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 81, 81);
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    font-size: xx-large;
    font-weight: 400;
    font-family: fantasy;
    color: rgb(209, 208, 208);
    background-color: rgb(119, 4, 4);

}
.searchContainer{
    margin: 10px;
}

.inputBox{
    width: 85vw;
    min-width: 150px;
    height: 35px;
}

input:placeholder-shown{
    text-align: center;
}

input {
    text-align: center;
}

.submitbtn{
    height: 35px;
}

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.loading-container img{
    height: 500px;
    width: 300px;
}

.result-container{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popularSearchHeading{
    text-align: center;
    color: rgb(102, 6, 6);
}

.popularCharacterContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.popularCharacterItem{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.popularImage {
    min-width: 300px;
    height: 60vh;
    width: 25vw;
    opacity: 0.8;
}

.superHeroImage{
    margin: 20px;
    width: 30vw;
    height: 80vh;
}

.end-of-search{
    height: 2px;
    background-color:  black;
}

.main-container{
    min-height: 90vh;
    margin: 10px;
    display: flex;
    flex-direction:row;
    width: 95vw;
    background-color: brown;
    justify-content: center;
}

.left-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    /* background-color: rebeccapurple; */
    color: rgb(241, 235, 235);
    min-height: 40vh;
    justify-content: center;
    align-items: center;
}
.right-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40vw;
    min-height: 40vh;
    /* background-color:tomato */
}

.progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.progress-description{
    color: white;
    font-weight:400;
    font-size: xx-large;
}

.anchor-back{
    text-decoration: none;
}

.back{
    display: grid;
    width: 150px;
    height: 50px;
    background-color: rgb(20, 1, 1);
    color: white;
    margin: auto;
    font-size: x-large;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
}

@media screen and (max-width:1100px) {
    .main-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-container{
        width: 100vw;
        flex-direction: column;
    }

    .popularImage{
        width: 50vw;
    }
}